@use "../../partials/mixins" as *;

.plyr-choice-container {
  position: absolute;
  background-color: #202020;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  // overflow: hidden;

  &__btnClose {
    position: absolute;
    border-radius: 50%;
    right: -8%;
    top: -8%;
    padding: 4px;
    font-size: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      background-color: #646464;
    }
  }

  &__btn {
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-family: inherit;
    font-size: 0.6875rem;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #3f3f3f;
    }

    @include tablet {
      font-size: 1rem;
    }
  }
}
