@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.header {
  background-color: $nav-color;
  border-bottom: 3.5px solid #000;
  color: #f8f8f8;
  position: sticky;
  top: 0;
}

.main {
  flex-grow: 1;
}
