@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem $mob-hor-pad;
  @include tablet {
    padding: $tab-hor-pad $tab-ver-pad;
  }
  @include desktop {
    padding-left: $desk-hor-pad;
    padding-right: $desk-hor-pad;
  }
}

.link-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;

  &__link {
    @include thumbnail-link;
  }

  &__image {
    @include thumbnail;
  }

  &__caption {
    font-size: $img-cap;
  }
}
