@font-face {
  font-family: ReggaeOne;
  src: url("./assets/fonts/ReggaeOne-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: ReggaeOne, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ffb0ff;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
